<mdb-card>
  <!--Card image-->
  <a [routerLink]="['/' + project.link]">
    <mdb-card-img
      *ngIf="project.photoUrl"
      src="{{ project.photoUrl }}"
      alt="Card image cap"
      class="waves-light"
      mdbWavesEffect
    ></mdb-card-img>
    <mdb-card-img *ngIf="!project.photoUrl" [src]="defaultImg" alt="Card image cap"> </mdb-card-img>
  </a>

  <!--Card content-->
  <mdb-card-body>
    <!--Title-->
    <mdb-card-title>
      <a [routerLink]="['/' + project.link]" class="title-link">
        <h4 class="text-center"><i class="fas fa-link h5 text-info"></i> {{ project.key }} {{ project.title }}</h4>
      </a>
    </mdb-card-title>
    <hr class="my-2" />

    <!--Text-->
    <mdb-card-text>
      {{ project.description }}
    </mdb-card-text>

    <!--Text-->
    <mdb-card-text *ngIf="project.sections && project.sections.length">
      <hr class="my-2" />
      <ngb-accordion #acc="ngbAccordion" type="dark" [activeIds]="projectType === 'section' ? 'static-' + index : ''">
        <ngb-panel title="Sadržaj" [id]="'static-' + index">
          <ng-template ngbPanelContent>
            <ng-container *ngFor="let section of project.sections">
              <a [routerLink]="['/' + section.link]" class="section-link h5 d-block">
                <small>{{ section.key }} {{ section.name }}</small>
              </a>
            </ng-container>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
