<div class="projects-list d-flex flex-wrap fadeIn animated">
  <div class="project" *ngFor="let project of projects; let i = index; trackBy: trackByFunction">
    <app-editable-project
      *ngIf="editingMode; else projectView"
      [project]="project"
      [projectType]="projectType"
      [editable]="editable"
      (deleted)="onProjectDelete($event)"
      (edited)="onProjectEdit($event)"
    ></app-editable-project>
    <ng-template #projectView>
      <app-project
        [index]="i"
        [project]="project"
        [projectType]="projectType"
        [editable]="editable"
        (deleted)="onProjectDelete($event)"
        (edited)="onProjectEdit($event)"
      ></app-project>
    </ng-template>
  </div>
</div>
