<div class="jumbotron bg-primary text-white mb-2">
  <p class="lead mb-0">Predmet:</p>
  <h1 class="display-4">{{ course.title }}</h1>
  <hr class="my-4" />
  <div class="mb-2">
    <a class="mr-3 btn btn-light" [routerLink]="['edit']" role="button">
      <i class="fas fa-pencil-alt"></i>
    </a>
    <h5 class="d-inline cursor-pointer hover" [routerLink]="['edit']">Izmeni opis predmeta</h5>
  </div>
  <div class="mb-2">
    <a class="mr-3 btn btn-warning" [routerLink]="['new-section']" role="button">
      <i class="fas fa-plus"></i>
    </a>
    <h5 class="d-inline cursor-pointer hover" [routerLink]="['new-section']">Dodaj novu oblast</h5>
  </div>
</div>
<h1 class="text-primary ml-3"><small>Oblasti:</small></h1>
<app-projects-list [projects]="sections" [editingMode]="true" projectType="section"></app-projects-list>
