<div class="jumbotron bg-info text-white mb-2">
  <h1 class="display-4">Administrativni panel</h1>
  <p class="lead">Za dodavanje i izmenu predmeta i sadržaja e-skripte</p>
  <hr class="my-4" />
  <div class="mb-2">
    <a class="mr-3 btn btn-light" [routerLink]="['edit-script']" role="button">
      <i class="fas fa-pencil-alt"></i>
    </a>
    <h5 class="d-inline cursor-pointer hover" [routerLink]="['edit-script']">Izmeni opis skripte</h5>
  </div>
  <div class="mb-2">
    <a class="mr-3 btn btn-warning" [routerLink]="['new-course']" role="button">
      <i class="fas fa-plus"></i>
    </a>
    <h5 class="d-inline cursor-pointer hover" [routerLink]="['new-course']">Dodaj novi predmet</h5>
  </div>
</div>
<h1 class="text-info ml-3"><small>Predmeti:</small></h1>
<app-projects-list [projects]="predmeti" [editingMode]="true" projectType="course"></app-projects-list>
