<mdb-navbar
  #navbar
  SideClass="navbar navbar-expand-lg navbar-light white justify-content-between"
  [containerInside]="false"
>
  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" routerLink="/">
      DIGIPOP
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/o-skripti" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-question-circle"></i>
          <span translate> O Skripti</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul> -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/content-management"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fas fa-pencil-alt"></i>
          <span translate> Administracija</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/o-skripti"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <i class="fas fa-question-circle"></i>
          <span translate> O Skripti</span>
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
